/.xlsx
.xlsa

configuration/API/saved_fields/*.*
/configuration/API/saved_fields/*.*

/sfcs_app/common/config/config.php
/sfcs_app/common/config/config_ajax.php
/sfcs_app/common/config/config_jobs.php
/template/db_conf.php
/.jpg
.jpg
.htaccess
/.htaccess
/sfcs_main_test
sfcs_main_test
/sfcs_app/app/dashboards/controllers/PLD_Dashboard/*.*
/sfcs_app/app/dashboards/controllers/PLD_Dashboard/IU_Weeks/*.*
/configuration/API/saved_fields/
configuration/API/saved_fields/
/configuration/API/saved_fields/fields.json
configuration/API/saved_fields/fields.json
/sfcs_app/app/dashboards/controllers/cps/book/Book3_print.php
sfcs_app/app/dashboards/controllers/cps/book/Book3_print.php
