Options +Indexes

  AuthName "BAINet Intranet"
  AuthType SSPI
  SSPIAuth On
  SSPIAuthoritative On
#SSPIDomain "brandixlk"
#SSPIOmitDomain On
  SSPIOfferBasic On
  #BEGIN VERY IMPORTANT prevents IE from dropping post requests
  SSPIPerRequestAuth On
  #END VERY IMPORTANT
  require valid-user



#AddType application/x-httpd-php5 .html .htm
AddType application/x-httpd-php .html .htm
#php_value auto_prepend_file c:/wserver/wamp/www/security/secure_head.php
#php_value auto_append_file c:/wserver/wamp/www/security/secure_foot.php
