<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 @RenderPage(Page.scripts_include_head)
	<script type="text/javascript">
     $(document).ready(function ()
     {
         $("#myButton").click(function ()
         {

             $("#content").html("");

             $.ajax({
                 cache: false,
                 type: 'POST',
                 url: 'PRJ_RMW_0001_S_0032_REP_FORMAT_6.cshtml',
                 data: $("#myForm").serialize() + '&rando=' + Math.random(),
                 beforeSend: function ()
                 {
                     // this is where we append a loading image
                     $("#myForm").hide();
                     $('#ajax-panel').html('<div class="loading"><img src="/images/loading/animated_loading.gif" alt="Loading..." /></div>');
                 },
                 success: function (response)
                 {
                     $("#myForm").show();
                     $('#ajax-panel').empty();
                     $("#ajax-panel").html(response);
                 },
                 error: function (response)
                 {
                     // failed request; give feedback to user
                     $("#myForm").show();
                     $('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
                 }

             });
         });

     });

     $(window).bind('beforeunload', function ()
     {
         $.blockUI();
     });

	</script>
</head>
<body>
<div class="panel panel-primary">
<!-- To Show Current Progress-->
<div id="load_tweets"></div>
<!-- To Show Current Progress-->
<div class="panel-heading"><b>@{@Page.page_title;}: Style wise Material Status</b></div>
<!-- <div id="page_heading"><span style="float: left"><h3>@{@Page.page_title;}: Style wise Material Status</h3></span><span style="float: right"> @{@Html.Raw(Page.help_link);} </span></div> -->
<div class="panel-body" id="form">  
<!-- index.html -->

<form class="panel-body" id="myForm"> 
<div class="form-inline">
<div class="form-group">
Start Date: <input type="text" size="8" min="0" class="form-control" name="sdate" id="sdate" value=""  onclick="javascript:NewCssCal('sdate','yyyyMMdd')">
</div>
<div class="form-group">

End Date: <input type="text" size="8" min="0" class="form-control" name="edate" id="edate" value="" onclick="javascript:NewCssCal('edate','yyyyMMdd')">
</div>
<div class="form-group">

Buyer Division:
    <select name="buyer" class="form-control" id="select">
        @{
            var items = Page.buyerdivision.Split(new[]{';'});
            var items_title = Page.buyerdivision_title.Split(new[]{';'});
            for(int i=0;i<items.Length;i++)
            {
                @Html.Raw("<option value='"+items[i]+"'>"+items_title[i]+"</option>");
            }
        }
    </select>
</div>

<br/><br/>
<div class="form-group">
Product Group:
    <select name="material" class="form-control" id="select">
        @{
            items = Page.material.Split(new[]{';'});
            items_title = Page.material_title.Split(new[]{';'});
            for(int i=0;i<items.Length;i++)
            {
                @Html.Raw("<option value='"+items[i]+"'>"+items_title[i]+"</option>");
            }
        }
    </select>
</div>
<div class="form-group">
Item Codes:
    <select name="item_code" class="form-control" id="select">
        @{
            items = Page.item_codes.Split(new[]{';'});
            items_title = Page.item_codes_title.Split(new[]{';'});
            for(int i=0;i<items.Length;i++)
            {
                @Html.Raw("<option value='"+items[i]+"'>"+items_title[i]+"</option>");
            }
        }
    </select>
</div>
<div class="form-group">
<input type="button" id="myButton" class="btn btn-primary" value="Filter"/>
</div>
</div>
</form>
</div>

<div id="ajax-panel">
@{
    //@RenderPage("PRJ_RMW_0001_P_0006_REP_FORMAT_1.cshtml");
}
</div>
</div>

</body>
</html>
