#page_heading
{
    	width: 100%;
		height: 25px;
    	color: WHITE;
    	background-color: #29759c;
    	z-index: -999;
    	font-family:Arial;
    	font-size:15px;  
    	margin-bottom: 10px;  
}

#page_heading h3
{
	vertical-align: middle;
	margin-left: 15px;
	margin-bottom: 0;	
	padding: 0px;
}

#page_heading a
{
	color: WHITE;
}

#page_heading img
{
	margin-top: 2px;
    	margin-right: 15px;
}

body
{
	background-color: #EEEEEE;
	font-family:arial;
}

.tblheading th
{
	background-color:#29759C;
}

table{
	white-space:nowrap; 
	border-collapse:collapse;
	font-size:12px;
	background-color: white;
}
input,select,textarea{
border-color:black; border-style: solid;
border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;}