body
{
	font-family:calibri;
	font-size:12px;
}

#ajax-panel table tr
{
	border: 1px solid #999999;
	text-align: right;
	white-space:nowrap;
    font-family:calibri;
	font-size:12px;

}

#ajax-panel table td
{
	border: 1px solid #999999;
	text-align: right;
    white-space:nowrap;
    font-family:calibri;
	font-size:12px;
    vertical-align: top;
}

#ajax-panel table td.lef
{
	border: 1px solid #999999;
	text-align: left;
    white-space:nowrap;
    font-family:calibri;
	font-size:12px;
    vertical-align: top;
}
#ajax-panel table th
{
	border: 1px solid #999999;
	text-align: center;
    background-color: #29759c;
	color: #fff;
    white-space:nowrap; 
	padding-left: 5px;
	padding-right: 5px;
    font-family:calibri;
	font-size:12px;
}

#ajax-panel table{
	white-space:nowrap; 
	border-collapse:collapse;
    font-family:calibri;
	font-size:12px;
}
