body
{
	background-color: WHITE;
	font-weight: bold;
	font-size: 12pt;
	color: BLACK;
	line-height: 1pt;
	font-style: normal;
	font-family: "Calibri", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

th
{
	background-color: RED;
	color: WHITE;
border: 1px solid #660000;
	padding: 1px;
white-space:nowrap; 

}

td
{
	background-color: WHITE;
	color: BLACK;
border: 1px solid #660000;
	padding: 1px;
white-space:nowrap; 
}

tr.total
{
font-weight: bold;
white-space:nowrap; 
}

tr.total td
{

white-space:nowrap;
color: BLACK;
background-color: YELLOW;	
padding: 5px;
}


table
{
border-collapse:collapse;
white-space:nowrap; 
}

tr.info
{
font-weight: bold;
white-space:nowrap; 
}

tr.info td
{

white-space:nowrap;
color: WHITE;
background-color: BLUE;	
padding: 5px;
}