<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
	<add key="webpages:Version" value="2.0.0.0" />
        <add key="enableSimpleMembership" value="false" />
	<!-- Additions -->
    	<add key="autoFormsAuthentication" value="false" />
    	<add key="ClientValidationEnabled" value="true" />
    	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>

    <system.web>
        <authentication mode="Windows" />
	<identity impersonate="false" />
         <!-- <authorization>
            <deny users="?" />
        </authorization> -->
    </system.web>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

<system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="524288000" />
            </requestFiltering>
        </security>
        <handlers>
            <add name="PHP via FastCGI" path="C:\wserver\wamp\bin\php\php5.3.8\php-cgi.exe" verb="*" modules="FastCgiModule" scriptProcessor="C:\wserver\wamp\bin\php\php5.3.8\php-cgi.exe" resourceType="File" />
        </handlers>
</system.webServer>

    <system.web>
        <customErrors mode="Off" />
    </system.web>

    <system.web>
        <httpRuntime appRequestQueueLimit="86000" executionTimeout="86000" maxRequestLength="214748364" />
    </system.web>

    <connectionStrings>
        <add connectionString="Server=192.168.0.100;Database=BEK_DBS_RMW_0001;Uid=sfcsproject1;Pwd=sfcsproject1;Connect Timeout=86000; pooling='true'; Max Pool Size=86000" name="BEK_DBS_RMW_0001" providerName="System.Data.SqlClient" />
    
        <add connectionString="Server=BCI-MVXRPT-02;Database=M3_BEL;Uid=BAIMacroReaders;Pwd=BAI@macrosm3;Connect Timeout=86000; pooling='true'; Max Pool Size=86000" name="M3_BEL" providerName="System.Data.SqlClient" /> 

	<add connectionString="Server=M3_BEL_LINK;Database=M3_BEL;Uid=BELMacroReader;Pwd=bel@macrosm3;Connect Timeout=86000; pooling='true'; Max Pool Size=86000" name="M3_BEL2" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="" password="" port="25" userName="" />
            </smtp>
        </mailSettings>
    </system.net>




</configuration>




<!--
@{
    Server.ScriptTimeout = 3600;
}


-->